@{
    ViewBag.Title = "Ginseng";
}

<h2>Ginseng</h2>

<p>
    I think I've been interested in project and task management ever since I noticed how hard it can be to stay focused,
    not procrastinate, collaborate effectively, and work on the right stuff in my software work.
</p>